<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">EtherQL</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <%- pageName.indexOf('Block')>=0 ? 'class="active"' : '' %> ><a href="/block">Blocks</a></li>
        <li <%- pageName.indexOf('Transaction')>=0 ? 'class="active"' : '' %> ><a href="/transaction">Transactions</a></li>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
